.quadrateins{
  background-color: rgba(255, 166, 0, 0.829);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  p{
    margin: 10px;
  }

}

.Hintergrund{
  width: 100%;
  height: 300px;
  background-color: orange;
  padding: 50px;
  .kreiseins{
  width: 200px;
  height: 200px;
  background-color: black;
  border: 7px aqua solid;
  border-radius: 900px;

}
}

.hintergrund2{
    width: 100%;
  height: 300px;
  background-color: rgb(0, 255, 42);
  padding: 50px;
  .bär{
  border-radius: 100px;
  border: 5px solid aqua;
}
}


.hintergrund4{
  background-color: rgb(255, 0, 0);
  padding: 50px;
  width: 100%;
  height: 300px;
  .kreiszwei{
  background-color: aqua;
  width: 200px;
  height: 200px;
  border: 7px black solid;
  border-radius: 900px
}
}

.hintergrund5{
  background-color: aqua;
  padding: 50px;
  width: 100%;
  height: 300px;
  .delfin{
  border: 7px aqua solid;
  border-radius: 900px;
}
}


.adler{
  border-radius: 100%;
  border: 7px aqua solid;
}

.frosch{
  border: 7px aqua solid;
  border-radius:900px ;
}

.auto12{
  border: 7px aqua solid;
  border-radius: 900px;
}

.lambo{
  border: 7px aqua solid;
  border-radius: 900px;
}

.audi{
  border: 7px aqua solid;
  border-radius: 900px;
}

.merzedes{
  border: 7px aqua solid;
  border-radius: 900px;
}